#container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image:
        url(https://commons.wikimedia.org/wiki/File:A_black_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 580px) {
    #container {
        max-width: 540px;
    }
}

@media (min-width: 780px) {
    #container {
        max-width: 720px;
    }
}

.h1 {
    font-weight: normal;
    color: white;
    text-align: center;
    padding: 15rem 10rem 15rem 10rem;
    box-shadow: 0px 0px 7px black;
    border-radius: 0.25rem;
}